[Unit]

Description=SonarQube service

After=syslog.target network.target



[Service]

Type=forking



ExecStart=/etc/sonarqube/sonarqube-9.0.1.46107/bin/linux-x86-64/sonar.sh start

ExecStop=/etc/sonarqube/sonarqube-9.0.1.46107bin/linux-x86-64/sonar.sh stop



User=root

Group=root

Restart=always



LimitNOFILE=131072

LimitNPROC=8192



[Install]

WantedBy=multi-user.target
